*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

img, svg, video {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Lexend', sans-serif;
    color: #1E3409;
    background-image: url('images/blob-scene-haikei.svg'); 
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

section {
    min-height: 100vh;
    background: none;
}
h1 {
    font-size: clamp(3.5rem, 5.5vw, 6rem);
}
h2 {
    font-size: clamp(2.7rem, 3.5vw, 3.3rem);
}
h3 {
    font-size: clamp(1.5rem, 3.5vw, 3rem);
}
h4 {
    font-size: clamp(1.2rem, 3.5vw, 1.8rem);
}
p, figcaption {
    font-size: clamp(.9rem, 4.5vh, 1.1rem);
}
 a {
    text-decoration: none;
    color: inherit;
 } 
li {
    list-style: none;
}

/* nav bar for screens > 768px */
#desktop-menu {
    position: fixed;
    width: 100%;
    top: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: .5em .75em;
    background-image: url('/images/stacked-waves-vert.svg'); 
    background-size: 30%;
    background-position: top;
    background-color: #87C9FF;
    color: #31582C;
    transition: top 0.5s;
    z-index: 1;
    box-shadow: 1 1 1 black;
}
#desktop-menu a {
    font-size: 2rem;
}
#desktop-menu a:hover {
    transform: scale(1.08);
    opacity: .7;
    transition: .3s;
}
#nav-links a{
    margin-left: .5em;
}
/* nav bar for screens < 768px */
#mobile-menu {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}  
  #burger-bar {
	width: 2.8em;
	margin: 1.5em 0 1.25em 1.25em;
	cursor: pointer;  
}  
  .bar {
	height: .3em;
	width: 100%;
	background-color: #f3faff;
	display: block;
	border-radius: .3em;
	transition: 0.3s ease;
}  
  #bar1 {
	transform: translateY(-.25em);
}  
  #bar3 {
	transform: translateY(.25em);
}  
  .nav {
    position:absolute;
    top: 0;
	transform: translateX(-150%);
	transition: 0.3s ease;
	background: url('/images/stacked-waves-vert.svg');
    background-size: cover;
	height: 100vh;
	width: 80%;
	padding: 8em 0 0;
	z-index: -1;
	box-shadow: 0px 5px 10px 0px #1E340950;
}  
  .nav ul {
	padding: 0 22px;
}  
  .nav li {
	list-style: none;
	padding: 12px 0;
}
    .nav li a {
	color: #31582C;
	font-size: 1.8rem;
	text-decoration: none;
}  
 
  .change {
	display: block;
	transform: translateX(0);
}
  .change .bar {
	background-color: #31582C;
}  
  .change #bar1 {
	transform: translateY(4px) rotateZ(-45deg);
}  
  .change #bar2 {
	opacity: 0;
}  
  .change #bar3 {
	transform: translateY(-6px) rotateZ(45deg);
}  
    
#home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: right;
    text-align: right;
    padding: 1.8em 1em 0 1em;
    color: #F0F7F9;
    background-image: url("images/veg.webp");
    background-size: cover;
    background-position: center;  
    min-height: 100vh;
}

#mercado {
    font-family: 'Baumans', cursive;
    grid-area: 1 / 2 / 4 / 5; 
}
.novo-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
}
#novo-home {
    grid-area: 3 / 3 / 4 / 5; 
    align-self:self-end;
}
.circleSVG {
    grid-area: 1 / 1 / 5 / 5;
    margin: auto;
}
.novo {
    grid-area: 2 / 2 / 4 / 4; 
    align-self:center;
    color: #f3faff;
}

#day-and-time {
    grid-area: 4 / 3 / 5 / 5;
    align-self:self-end;
    margin-bottom: 1em;
}
/* Fade-in animation for sections */
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.body-section.active {
    transform: translateY(0);
    opacity: 1;
}
.body-section {
    padding: 10em 2.5em 0;
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.section-title {
    text-align: center;
    padding-bottom: .5em;
}

#about-paragraphs {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    gap: 1.5em;
    padding-bottom: 1em;
}
figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr .25fr;
    text-align: center;
}
.gallery-img {
    aspect-ratio: 4/3;
    grid-area: 1 / 1 / 3 / 2;
    cursor: pointer;
}
.gallery-img:hover,
.gallery-img:focus {
    opacity: .5;
    transition: .3s ease;
}

figcaption {
    text-transform: capitalize;
    color: #d9eeff;
    background-color: #1E3409;
    grid-area: 2 / 1 / 3 / 2; 
    z-index: -1;
}
#producers-container {
    background-color: #31582C;
    border-radius: 5px;
    padding: 1em;
}
#producers-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    justify-items: center;
    padding: 1em;
    color: #F0F7F9;
}
#farmers-cards li {
    font-size: clamp(1rem, 3.5vh, 1.6rem);
}
#location {
    padding-bottom: 5em;
}
#location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#location-info {
    display: flex;
    align-items: center;
}

#circleSVG-location {
    width: 80%;

}
#map {
    margin-top: .5em;
}
.mapouter {
    position:relative;
    text-align:right;
    width:22em;
    height:22em;
   
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:22em;
    height:22em;
    
}
.gmap_iframe {
    width:22em!important;
    height:22em!important;

}
footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
    background-image: url('images/ground.webp');
    background-size: cover;
    padding: .5em;
}
#bomlogo {
    width: 70%;
    padding-left: 5em;
}
#setubal-logo {
    filter:brightness(1.5);
    width: 100%;
}
footer p {
    color: #F0F7F9;
    font-size: clamp(.6rem, 2.5vw, 1rem);
}

@media (min-width: 768px) {

    #desktop-menu {
        display: flex;
    }
    #mobile-menu {
        display: none;
    }
    #mercado {
        grid-area: 1/2/3/5;
        margin-top: 1.2em;
    }
    #day-and-time {
        align-self: center;
    }
    #circleSVG-home {
    width: 60%;
    }

   #market-pics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
   }
   #about-paragraphs {
        flex-direction: row;
        justify-content: space-evenly;
        text-align: justify;
   }
   #about-paragraphs p {
        width: 50%;
}
    #producers-container {
        display: flex;
        flex-direction: row-reverse;
    }
    #producers-container img {
        width: 50%;
    }
    #producers-cards {
        width: 50%;
    }
    #location-container {
        display: flex;
        gap: 2em;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: start;
    }
    #location-info {
        align-self: center;
        flex-direction: column;
    }
    #circleSVG-location {
        width: 90%;
    }
    .mapouter, .gmap_canvas {
        width:37.5em;
        height:25em;
    }

    .gmap_iframe {
        width:37.5em!important;
        height:25em!important;
    }

} 
@media (min-width: 1400px){

        #market-pics {
        grid-template-columns: repeat(3, 1fr);

    }
        .mapouter, .gmap_canvas {
        width:50em;
        height:37.5em;
    }
        .gmap_iframe {
        width:50em!important;
        height:37.5em!important;
    }
        #circleSVG-location {
        width: 60%;
    }


}